/* Group 1939 */

position: absolute;
width: 258px;
height: 259px;
left: 461px;
top: 305.96px;



/* Me */
.harshita {
position: absolute;
width: 258px;
height: 259px;
left: 461px;
top: 305.96px;
}

/* Ellipse 3 */

/* Judges a book by its cover... */

position: absolute;
visibility: hidden;
width: 386px;
height: 126px;
left: 727px;
top: 379.68px;
.name{
font-family: 'Preahvihear';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 63px;
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}

position: absolute;
width: 258px;
height: 259px;
left: 461px;
top: 305.96px;

background: radial-gradient(50% 50% at 50% 50%, #FFFFFF 17.71%, rgba(67, 67, 67, 0) 100%);


/* image 1 */

position: absolute;
width: 165px;
height: 223px;
left: 509px;
top: 311.68px;

background: url(image.png);
