

/* Me */
.harshita {
position: absolute;
width: 258px;
height: 259px;
left: 461px;
top: 305.96px;
}

.name{
font-family: 'Preahvihear';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 63px;
display: flex;
align-items: center;
letter-spacing: 0.02em;
color: #FFFFFF;
}

/* Gradient */
img
position: absolute;
width: 385px;
height: 431px;
left: 385px;
top: 220px;

background: radial-gradient(50% 50% at 50% 50%, #763CAC 0%, rgba(50, 15, 133, 0) 100%);
